PORT=3000
POSTGRES_DB=kupipodariday
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_PORT=5432
JWT_SECRET=kupipodariday
DATABASE_SYNCHRONIZE=true
DATABASE_TYPE=postgres
POSTGRES_HOST=postgres
POSTGRES_PGDATA=/app/postgreqsl/data