PORT=3000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=student
POSTGRES_PASSWORD=student
POSTGRES_DATABASE=kupipodariday
DATABASE_TYPE=postgres

JWT_SECRET=kupipodariday

POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata