PORT=3000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=student
POSTGRES_PASSWORD=student
POSTGRES_DATABASE=kupipodariday
DATABASE_TYPE=postgres
DATABASE_SYNCHRONIZE=true
JWT_SECRET=kupipodariday

POSTGRES_PGDATA=/app/postgreqsl/data